canvas {
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    width: 100vw;
    z-index: -99;
  }

body{
    overflow:overlay;

}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

nav{
    position: sticky;
    top: 0;
    padding-left: .25em;
    padding-top: .05em;
    z-index: 98;
}
ul{
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    padding-top: 1%;
    padding-left: 1.5%;
}
li {
    list-style: none;
    margin-right: 1.5em;
    font-weight: bold
}
a{
    text-decoration: none;
    font-family: 'Open-Sans', sans-serif;
    background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
    text-transform: none;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all .5s ease 0s;
    user-select:none;
}
a:hover{
    background-image: url(https://t3.ftcdn.net/jpg/01/91/95/30/360_F_191953033_gehQATeDoh5z6PyRDbeKyBZuS83CjMEF.jpg);
}

section{
    scroll-snap-align: start;
    padding-left:5%;
    padding-top: 12vh;
    height: 95vh;
    position: relative;
    display: flex;
    gap: 2%;
}
.section.show{
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
}
  

.greeting{
    background-image: url(https://github.com/wponc/Scraps/blob/master/assets/images/37.jpg?raw=true);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 21em;
    user-select: none;
    letter-spacing: .1em;
}
h1{
    font-size: 2.25em;
}
.text{
    width:50%;
    font-size:1.8em;
    padding-right:4%;
}
.figure{
    width: 50%;
}
.figure img{
    height: 80%;
    padding-left: 5%;
}

    /* Firefox */
* {
scrollbar-width: thin;
scrollbar-color: #b79cbf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 5px;
}

*::-webkit-scrollbar-track {
background-color:transparent;
}

*::-webkit-scrollbar-thumb {
background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
border-radius: 10px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }